.overlay {
  z-index: 1;
}
.overlay {
  background-color: black;
}
body {
  background-color: #5e5e5e;
}
[class~="no-hover"] {
  display: block;
}
html {
  scroll-behavior: smooth;
}
*::after,
* {
  box-sizing: inherit;
}
[class~="hover"] {
  display: none;
}
*::after,
* {
  margin-left: 0;
}
[class~="fullscreen"] {
  position: fixed;
}
[class~="topbutton"]:hover {
  color: white;
}
*::after {
  margin-bottom: 0;
}
*::after {
  margin-right: 0;
}
[class~="fullscreen"] {
  top: 50%;
}
[class~="fullscreen"] {
  left: 50%;
}
[class~="topbutton"]:hover {
  background-color: #50505070;
}
[class~="fullscreen"] {
  transform: translate(-50%, -50%);
}
.overlay label {
  display: grid;
}
.overlay label {
  place-items: center;
}
[class~="topbutton"]:hover,
[class~="topbutton"] {
  border-left-width: medium;
}
#overlay-toggle:checked ~ [class~="overlay"],
#overlay-toggle:checked ~ [class~="overlay"] label {
  animation-fill-mode: forwards;
}
[class~="fullscreen"] {
  min-height: 100vh;
}
[class~="fullscreen"] {
  min-width: 100vw;
}
[class~="bg-video"] {
  z-index: -1;
}
*::after {
  margin-top: 0;
}
.topbutton-text {
  margin-top: 22.5pt;
}
*::after,
*::before {
  padding-left: 0;
}
[class~="topbutton"]:hover,
[class~="topbutton"] {
  border-bottom-width: medium;
}
[class~="topbutton"]:hover,
[class~="topbutton"] {
  border-right-width: medium;
}
.topbutton-text {
  font-size: 20;
}
.topbutton-text {
  text-align: left;
}
.overlay label {
  width: 100vw;
}
[class~="topbutton"],
[class~="topbutton"]:hover {
  border-top-width: medium;
}
[class~="topbutton"],
[class~="topbutton"]:hover {
  border-left-style: none;
}
[class~="topbutton"]:hover,
[class~="topbutton"] {
  border-bottom-style: none;
}
.topbutton-text {
  font-weight: 550;
}
.overlay label {
  height: 100vw;
}
.topbutton-text,
.overlay label {
  color: #fff;
}
[class~="topbutton"] {
  color: white;
}
*::before,
*::after {
  padding-bottom: 0;
}
#overlay-toggle:checked ~ [class~="overlay"] {
  animation-name: fade, hide;
}
[class~="topbutton"],
[class~="topbutton"]:hover {
  border-right-style: none;
}
.overlay label {
  font-size: 2rem;
}
[class~="topbutton"] {
  background-color: #00000070;
}
[class~="topbutton"]:hover,
[class~="topbutton"] {
  border-top-style: none;
}
[class~="topbutton"]:hover,
[class~="topbutton"] {
  border-left-color: currentColor;
}
#overlay-toggle:checked ~ [class~="overlay"] {
  animation-delay: 0s, 600ms;
}
*::after,
*::before {
  padding-right: 0;
}
[class~="topbutton"]:hover,
[class~="topbutton"] {
  border-bottom-color: currentColor;
}
*::after,
*::before {
  padding-top: 0;
}
[class~="topbutton"],
[class~="topbutton"]:hover {
  border-right-color: currentColor;
}
.text-content h1,
[class~="text-content"] p {
  font-size: 1.7rem;
}
.text-content h1 {
  font-weight: 800;
}
*::before,
* {
  margin-bottom: 0;
}
[class~="topbutton"],
[class~="topbutton"]:hover {
  border-top-color: currentColor;
}
*::before {
  box-sizing: inherit;
}
#overlay-toggle:checked ~ [class~="overlay"] label {
  animation-name: fade;
}
[class~="topbutton"]:hover,
[class~="topbutton"] {
  border-image: none;
}
*::before,
[class~="text-content"] p,
* {
  margin-right: 0;
}
[class~="text-content"] p,
*::before {
  margin-left: 0;
}
[class~="topbutton"]:hover,
[class~="topbutton"] {
  padding-left: 0.9375pc;
}
[class~="topbutton"],
[class~="text-content"] p,
[class~="topbutton"]:hover {
  font-weight: 500;
}
*::before,
* {
  margin-top: 0;
}
#overlay-toggle:checked ~ [class~="overlay"] label {
  animation-delay: 0s;
}
[class~="topbutton"]:hover,
[class~="topbutton"] {
  padding-bottom: 0.9375pc;
}
[class~="topbutton"],
[class~="topbutton"]:hover {
  padding-right: 0.9375pc;
}
#overlay-toggle:checked ~ [class~="overlay"] {
  animation-duration: 600ms, 1ms;
}
#overlay-toggle {
  position: absolute;
}
[class~="topbutton"]:hover,
[class~="topbutton"] {
  padding-top: 0.9375pc;
}
body {
  background: black;
}
[class~="text-content"] p {
  margin-bottom: 2rem;
}
[class~="topbutton"]:hover,
[class~="topbutton"] {
  border-radius: 10px;
}
#overlay-toggle {
  display: none;
}
#RUL {
  text-decoration: none;
}
#overlay-toggle:checked ~ [class~="overlay"] label {
  animation-duration: 500ms;
}
[class~="topbutton"],
[class~="topbutton"]:hover {
  text-align: left;
}
[class~="topbutton"]:hover {
  transition: 0.5s;
}
* {
  padding-left: 0;
}
[class~="text-content"] p {
  margin-top: 2.5rem;
}
[class~="topbutton"] {
  transition: 0.4s;
}
[class~="button-text"],
[class~="text-content"],
[class~="text-content"] p {
  color: #fff;
}
[class~="button-text"] {
  margin-top: 3.125pc;
}
[class~="button-text"] {
  font-size: 20;
}
[class~="text-content"],
[class~="button-text"] {
  text-align: center;
}
[class~="button-text"] {
  font-weight: 550;
}
[class~="text-content"] {
  background: rgba(0, 0, 0, 0);
}
[class~="text-content"] {
  display: grid;
}
[class~="text-content"] {
  place-content: center;
}
* {
  padding-bottom: 0;
}
* {
  padding-right: 0;
}
.text-content a {
  font-size: 1.3rem;
}
.text-content a {
  line-height: 1.7;
}
.text-content a {
  color: #ec3a2d;
}
* {
  padding-top: 0;
}
@media (hover: hover) {
  [class~="hover"] {
    display: block;
  }
  [class~="no-hover"] {
    display: none;
  }
}
@keyframes fade {
  to {
    opacity: 0;
  }
}
@keyframes hide {
  to {
    visibility: hidden;
  }
}
[class~="rect"] {
  background-color: #00000070;
}
[class~="rect"] {
  border-left-width: medium;
}
[class~="rect"] {
  border-bottom-width: medium;
}
[class~="rect"] {
  border-right-width: medium;
}
[class~="rect"] {
  border-top-width: medium;
}
[class~="rect"] {
  border-left-style: none;
}
video {
  position: fixed;
}
video {
  right: 0;
}
[class~="rect"] {
  border-bottom-style: none;
}
[class~="rect"] {
  border-right-style: none;
}
[class~="rect"] {
  border-top-style: none;
}
video {
  bottom: 0;
}
[class~="rect"] {
  border-left-color: currentColor;
}
[class~="rect"] {
  border-bottom-color: currentColor;
}
[class~="rect"] {
  border-right-color: currentColor;
}
[class~="rect"] {
  border-top-color: currentColor;
}
[class~="rect"] {
  border-image: none;
}
video {
  min-width: 100%;
}
[class~="rect"] {
  padding-left: 0.15625in;
}
[class~="rect"] {
  padding-bottom: 0.15625in;
}
video {
  min-height: 100%;
}
[class~="rect"] {
  padding-right: 0.15625in;
}
[class~="rect"] {
  padding-top: 0.15625in;
}
[class~="rect"] {
  border-radius: 22.5pt;
}
video {
  z-index: -2;
}
[class~="title"] {
  font-size: 4.0625pc;
}
[class~="title"],
.question,
[class~="answer"] {
  color: #fff;
}
.question,
[class~="answer"],
[class~="title"] {
  text-align: center;
}
[class~="title"],
.question,
[class~="answer"] {
  font-weight: 550;
}
.question {
  font-size: 41.25pt;
}
video {
  filter: blur(5px) brightness(75%);
}
video {
  pointer-events: none;
}
[class~="answer"] {
  font-size: 15pt;
}
